.red {
    background-color: red;
    width: 100px;
    height: 100px;
}
.blue {
    background-color: blue;
    width: 100px;
    height: 100px;
}
.yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
}